<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.newCard}"></title>
</head>
<body>
<h1 th:text="#{title.newCard}"></h1>
<form action="#" th:action="@{/card/add}" method="post" th:object="${paymentCard}">
    <ul class="alert alert-danger" th:if="${#fields.hasErrors()}">
        <li th:each="err : ${#fields.allErrors()}" class="label label-danger" th:text="${err}"></li>
    </ul>

    <fieldset>
        <legend>Add a new payment card</legend>
        <div>
            <label th:text="#{fields.cardNumber}" />
            <input type="text" id="cardNumber" name="cardNumber" autofocus="autofocus" />
        </div>
        <div>
            <label th:text="#{fields.cardName}" />
            <input type="text" id="cardName" name="cardName" />
        </div>
        <div>
            <label th:text="#{fields.cardExpiry}" />
            <input type="month" id="cardExpiry" name="cardExpiry" />
        </div>
        <div>
            <input type="submit" value="Submit" />
            <input type="reset">
        </div>
    </fieldset>
</form>
</body>
</html>