<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.searchCard}"></title>
</head>
<body>
<h1 th:text="#{title.searchCard}"></h1>
<form action="#" th:action="@{/card/find}" th:method="POST">
    <table>
        <tr>
            <td><label th:text="#{fields.search}"></label></td>
            <td><input type="search" name="searchTerm" id="searchTerm"></td>
            <td th:if="${#fields.hasErrors('searchTerm')}" th:errors="*{searchTerm}"></td>
        </tr>
    </table>
</form>

</body>
</html>