<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.register}"></title>
</head>
<body>
<h1 th:text="#{title.login}"></h1>

<form action="#" th:action="@{/user/register}" method="post" th:object="${user}">
    <ul class="alert alert-danger" th:if="${#fields.hasErrors()}">
        <li th:each="err : ${#fields.allErrors()}" class="label label-danger" th:text="${err}"></li>
    </ul>
    <ul>
        <li th:utext="#{errors.user.alreadyRegistered}" th:unless="${param.registrationError == null}"></li>
    </ul>
    <table border="1">
        <tr>
            <td><label th:text="#{fields.username}" /></td>
            <td><input type="text" id="username" name="username" autofocus="autofocus" /></td>
        </tr>
        <tr>
            <td><label th:text="#{fields.password}" /></td>
            <td><input type="password" id="password" name="password" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
</body>
</html>